<nav class="navbar navbar-toggleable-md navbar-inverse">
   <a href="#" class="navbar-brand text-primary" id="logo">IMS</a>
   
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="navbar-link text-primary">Overview</a>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-link text-primary">Specs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-link text-primary">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-link text-primary">Purchase</a>
        </li>
      </ul>
    </div>
</nav>