<div id="hero">
  <div class="container">
      <app-navbar></app-navbar>
      <app-particles></app-particles>
      <div class="row hero-content pt-lg-6 pb-lg-6 pt-5">
        <div class="col-md-6 col-sm-12">
          <h1 class="text-uppercase text-center text-md-left">Destory All Humanity!</h1>
          <h4 class="text-uppercase text-center text-md-left">capture enemy territory and beath them down like rodents.</h4>
        </div>
      </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-center text-primary">Made with Coffee and Love: By Mohanad Elhag</span>
  </div>
</footer>