<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Export</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="#menu3" class="collapsed nav-link" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"> <span class="hidden-sm-down">Orders <i class="fa fa-caret-down"></i></span></a>
               <div class="collapse" id="menu3">
                  <a href="#" class="nav-link" data-parent="#menu3">Spare Parts</a>
                  <a href="#" class="nav-link" data-toggle="#menu3">3.2 </a>
               </div>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="#menu4" class="collapsed nav-link" data-toggle="collapse" data-parent="#sidebar2" aria-expanded="false"> <span class="hidden-sm-down">Employee <i class="fa fa-caret-down"></i></span></a>
               <div class="collapse" id="#menu4">
                  <a href="#menu4" class="nav-link" data-parent="#menu4">Management</a>
                  <a href="#menu4" class="nav-link" data-toggle="#menu4">Engineers </a>
                  
               </div>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Another nav item</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Another nav item</a>
            </li>
          </ul>
        </nav>