.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #000;
  .nav {
    margin-bottom: 20px;
  }
  .nav-item {
    width: 100%;
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
  .nav-link {
    border-radius: 0;
  }
}






